.paral {
  background-attachment: fixed;
  background-size: cover;
}
.jumbotron {
  margin-bottom: 0;
}

/* Footer */
.wn-footer {
  padding: 2.5rem 0;
  text-align: center;
  color: white;
  background-color: #c4698f;
  border-top: 0.05rem solid #e5e5e5;
}

.wn-footer a {
  color: white;
}

.wn-footer a:hover {
  text-decoration: underline;
}

.bg-marriage-balais {
  background-color: #c4698f;
}

.welcome-tab {
  background-image: url("../img/people/main.jpeg");
  background-position: 20% -10%;
  text-align: center;
  min-height: 600px;
}
.main-h1-size {
  /* color: #2d241e; */
  font-size: 100px;
  font-family: "Neue Helvetica";
}
.acceuil-tab {
  background-image: url("../img/bg/pink-bg.png");
  min-height: 400px;
  /* background-color: black; */
}
.marriage-tab {
  background-image: url("../img/bg/white-bg.png");
  min-height: 400px;
}
.program-tab {
  background-image: url("../img/bg/pink-bg.png");
  min-height: 400px;
  /* background-color: black; */
}
.histoire-tab {
  background-image: url("../img/bg/pink-bg.png");
  min-height: 400px;
}
.message-tab {
  background-image: url("../img/family2.jpeg");
  min-height: 500px;
}
.lieu-tab {
  background-image: url("../img/venue/venue8.jpg");
  min-height: 400px;
}
.liste-cadeaux-tab {
  background-image: url("../img/bg/pink-bg.png");
  min-height: 400px;
}

body {
  font-family: "Neue Helvetica";
}
